modules = ["dotnet-7.0", "nodejs-20", "web", "python-3.12"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start bot"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Start bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node bot.js"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]
build = ["npm", "install"]

[userenv]

[userenv.shared]
BOT_SECRET = "aa8a561d7fc6582e41f4767cd6a3391301986a0e5abffc7c393685a5133f2a6f"
SERVER_URL = "https://80b88ce8-a7d7-4174-8260-7a0b568302f5-00-bzleilrrpo54.sisko.replit.dev"
