<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenSteam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<userSettings>
        <OpenSteam.Properties.Settings>
                <setting name="DeleteOnClose" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="AutoPatchLaunch" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="CloseSteamBefore" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="DisableWebHelper" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="DisableNFSWAlert" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="InitialMessage" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="FilterManager" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="LuaPath" serializeAs="String">
                        <value>stplug-in</value>
                </setting>
        </OpenSteam.Properties.Settings>
    </userSettings>
</configuration>